.dark-bg-solid{
  min-height: calc(100vh - 66px);
  background-color: var(--mainBlack);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dark-bg-solid h3{
  color: var(--mainWhite);
  margin-bottom: 2rem;
  margin-top: 2rem;
}